1. The first step before training a model is to impute the data and make it suitable for training (`sklearn.impute`).

In [40]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer

arr = pd.DataFrame({
    'A': [1, None, None, 4, 5, 6, 7, 8, None, 10],
    'B': [6, 7, 8, None, 10, 11, None, 13, None, 15],
    'C': [np.nan, np.nan, 'A', 'B', np.nan, 'B', 'B', 'A', 'B', 'A'],
    'D': ['Purchase', 'Not Purchase', 'Purchase', 'Not Purchase', 'Purchase', 'Not Purchase', 'Purchase', 'Not Purchase', 'Purchase', 'Not Purchase']
})

In [41]:
si = SimpleImputer()
arr[['A', 'B']] = si.fit_transform(arr[['A', 'B']])
arr

           A     B    C             D
0   1.000000   6.0  NaN      Purchase
1   5.857143   7.0  NaN  Not Purchase
2   5.857143   8.0    A      Purchase
3   4.000000  10.0    B  Not Purchase
4   5.000000  10.0  NaN      Purchase
5   6.000000  11.0    B  Not Purchase
6   7.000000  10.0    B      Purchase
7   8.000000  13.0    A  Not Purchase
8   5.857143  10.0    B      Purchase
9  10.000000  15.0    A  Not Purchase

In [42]:
si_new = SimpleImputer(strategy='most_frequent')
arr[['C']] = si_new.fit_transform(arr[['C']])
arr

           A     B  C             D
0   1.000000   6.0  B      Purchase
1   5.857143   7.0  B  Not Purchase
2   5.857143   8.0  A      Purchase
3   4.000000  10.0  B  Not Purchase
4   5.000000  10.0  B      Purchase
5   6.000000  11.0  B  Not Purchase
6   7.000000  10.0  B      Purchase
7   8.000000  13.0  A  Not Purchase
8   5.857143  10.0  B      Purchase
9  10.000000  15.0  A  Not Purchase

2. Second step is to encode categorical variables (`sklearn.preprocessing`). The 3 types are:
- Ordinal Encoder
- Label Encoder (for target variables only).
- One-Hot Encoder

In [43]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder()
arr[['C']] = oe.fit_transform(arr[['C']])
arr

           A     B    C             D
0   1.000000   6.0  1.0      Purchase
1   5.857143   7.0  1.0  Not Purchase
2   5.857143   8.0  0.0      Purchase
3   4.000000  10.0  1.0  Not Purchase
4   5.000000  10.0  1.0      Purchase
5   6.000000  11.0  1.0  Not Purchase
6   7.000000  10.0  1.0      Purchase
7   8.000000  13.0  0.0  Not Purchase
8   5.857143  10.0  1.0      Purchase
9  10.000000  15.0  0.0  Not Purchase

We can also use `LabelEncoder` for target variables.

In [44]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
arr['D'] = le.fit_transform(arr['D'])
arr

           A     B    C  D
0   1.000000   6.0  1.0  1
1   5.857143   7.0  1.0  0
2   5.857143   8.0  0.0  1
3   4.000000  10.0  1.0  0
4   5.000000  10.0  1.0  1
5   6.000000  11.0  1.0  0
6   7.000000  10.0  1.0  1
7   8.000000  13.0  0.0  0
8   5.857143  10.0  1.0  1
9  10.000000  15.0  0.0  0

We can also use `OneHotEncoder` to encode the categorical variables.

In [45]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(drop='first', sparse_output=False)

df = pd.DataFrame({
    'City': ['Delhi', 'Mumbai', 'Hyderabad', 'Kolkata', 'Mumbai', 'Kolkata', 'Delhi', 'Mumbai', 'Kolkata', 'Delhi'],
    'Population': [100000, 200000, 300000, 400000, 500000, 600000, 700000, 800000, 900000, 1000000]
})

enc_city = ohe.fit_transform(df[['City']])

df = pd.concat([df, pd.DataFrame(enc_city)], axis=1)

df.drop('City', axis=1, inplace=True)

If we want to reverse the encoding, we can use `inverse_transform` method.

In [46]:
ohe.inverse_transform([[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0]])

array([['Delhi'],
       ['Mumbai'],
       ['Kolkata'],
       ['Hyderabad']], dtype=object)

Scaling is a process through which we make sure that all the features are on the same scale. This is important because if the features are not on the same scale, then the model will give more importance to the feature which has a higher scale. There are 2 types of scaling:

In [47]:
from sklearn.preprocessing import StandardScaler

df = pd.DataFrame({
    'Salary': [10000, 20000, 30000, 40000, 50000, 60000, 70000, 80000, 90000, 100000],
    'Age': [20, 25, 30, 35, 40, 45, 50, 55, 60, 65],
})

sc = StandardScaler()

df[['Salary', 'Age']] = sc.fit_transform(df[['Salary', 'Age']])
df

     Salary       Age
0 -1.566699 -1.566699
1 -1.218544 -1.218544
2 -0.870388 -0.870388
3 -0.522233 -0.522233
4 -0.174078 -0.174078
5  0.174078  0.174078
6  0.522233  0.522233
7  0.870388  0.870388
8  1.218544  1.218544
9  1.566699  1.566699